.produtos-container {
  padding: 30px;
}

h1 {
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 25px;
}

.card {
  background: white;
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  border-color: #febd69;
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  margin-bottom: 10px;
}

.preco {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.detalhes-btn {
  background: #febd69;
  border: none;
  padding: 8px 10px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
}
