/* Banner */
.banner {
  background: url("https://via.placeholder.com/1400x400?text=Idearte+Banner")
    center/cover no-repeat;
  height: 350px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 40px;
  color: white;
}

.banner-content h1 {
  font-size: 40px;
  margin: 0;
}

.banner-content p {
  font-size: 20px;
  margin-top: 10px;
  opacity: 0.9;
}

.btn-banner {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 18px;
  background: #febd69;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
}

/* Categorias */
.categoria-lista {
  padding: 40px 20px;
}

.categoria-lista h2 {
  margin-bottom: 20px;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  border: 1px solid #ddd;
  width: 300px;
  padding: 10px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.04);
  border-color: #febd69;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Destaques */
.destaques {
  padding: 40px 20px;
}

.produtos-destaque {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.item {
  background: white;
  border: 1px solid #ddd;
  width: 220px;
  padding: 10px;
  text-align: center;
}

.item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.item button {
  margin-top: 10px;
  padding: 6px;
  width: 100%;
  background: #febd69;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
